<div id="ukeContainer">

  <div id="baritone" class="uke">
    <!-- <div class="uke"> -->
    <h1 [@titleMove]='state[0][0]'>בריטון</h1>
    <div class="ukeDataContainer" id="baritoneDataContainer" [@fadeIn]='state[0][2]' dir="rtl">
      <div class="ukeData" id="baritoneData" [@fadeIn]='state[0][2]' dir="rtl">
        <ul>
          <li>אורך: 76 ס"מ</li>
          <li>כיוון נפוץ: DGBE</li>
          <li>מספר סריגים: 19+</li>
          <br>
          <li>יתרונות:
            <ul>
              <li>טווח נגינה רחב</li>
              <li>אפשרות לנגן צלילים נמוכים יותר</li>
            </ul>
          </li>
          <br>
          <li>חסרונות:
            <ul>
              <li>דומה מדי לגיטרה בעלת 4 מיתרים</li>
              <li>ניידות</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <!-- </div> -->
    <img src="../../assets/img/baritone.jpg" class="baritoneHover" id="baritoneImg" (click)="showData(0)"
      (mouseenter)="mouseEnter(0)" (mouseleave)="mouseLeave(0)" [@ukeMove]='state[0][1]'>
  </div>

  <div id="tenor" class="uke">
    <h1 [@titleMove]='state[1][0]'>טנור</h1>
    <div class="ukeDataContainer" id="tenorDataContainer" [@fadeIn]='state[1][2]' dir="rtl">
      <div class="ukeData" id="tenorData" [@fadeIn]='state[1][2]' dir="rtl">
        <ul>
          <li>אורך: 66 ס"מ</li>
          <li>כיוון נפוץ: GCEA</li>
          <li>מספר סריגים: 15+</li>
          <li>יתרונות:
            <ul>
              <li>טווח נגינה רחב</li>
              <li>טוב להופעות</li>
            </ul>
          </li>
          <li>חסרונות:
            <ul>
              <li>צליל מעט שונה מהיוקוללה הקלאסי</li>
              <li>פחות נייד באופן יחסי</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <img src="../../assets/img/tenor.jpg" class="tenorHover" id="tenorImg" (click)="showData(1)"
      (mouseenter)="mouseEnter(1)" (mouseleave)="mouseLeave(1)" [@ukeMove]='state[1][1]'>
  </div>

  <div id="concert" class="uke">
    <h1 [@titleMove]='state[2][0]'>קונצרט</h1>
    <div class="ukeDataContainer" id="concertDataContainer" [@fadeIn]='state[2][2]' dir="rtl">
      <div class="ukeData" id="concertData" [@fadeIn]='state[2][2]' dir="rtl">
        <ul>
          <li>אורך: 58.5 ס"מ</li>
          <li>כיוון נפוץ: GCEA</li>
          <li>מספר סריגים: 15-20</li>
          <br>
          <li>יתרונות:
            <ul>
              <li>טווח נגינה רחב יותר מהסופרנו אבל שומר על הסאונד הקלאסי</li>
              <li>נוח לטיולים</li>
            </ul>
          </li>
          <br>
          <li>חסרונות:
            <ul>
              <li>טווח נגינה מוגבל</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <img src="../../assets/img/concert.jpg" class="concertHover" id="concertImg" (click)="showData(2)"
      (mouseenter)="mouseEnter(2)" (mouseleave)="mouseLeave(2)" [@ukeMove]='state[2][1]'>
    <!-- </div> -->
  </div>

  <div id="soprano" class="uke">
    <h1 [@titleMove]='state[3][0]'>סופרנו</h1>
    <div class="ukeDataContainer" id="sopranoDataContainer" [@fadeIn]='state[3][2]' dir="rtl">
      <div class="ukeData" id="sopranoData" [@fadeIn]='state[3][2]' dir="rtl">
        <ul>
          <li>אורך: 53.5 ס"מ</li>
          <li>כיוון נפוץ: GCEA</li>
          <li>מספר סריגים: 12-15</li>
          <li>יתרונות:
            <ul>
              <li>כמו גור כלבים שאף פעם לא גדל</li>
              <li>נוח מאוד לטיולים</li>
            </ul>
          </li>
          <li>חסרונות:
            <ul>
              <li>טווח נגינה מוגבל מאוד</li>
              <li>לא ידידותי לאנשים בעלי אצבעות עבות</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <img src="../../assets/img/soprano.jpg" class="sopranoHover" id="sopranoImg" (click)="showData(3)"
      (mouseenter)="mouseEnter(3)" (mouseleave)="mouseLeave(3)" [@ukeMove]='state[3][1]'>
  </div>

</div>