@font-face {
	font-family: Nehama;
	src: url("../../assets/fonts/nehama/Nehama.ttf")
}

@font-face {
	font-family: Drugulin CLM;
	src: url("../../assets/fonts/drugulin/DrugulinCLM-Bold.ttf")
}

#ukeContainer{
	display: flex;
	width: 90%;
	height: 80vh;
	margin: auto;
	flex-wrap: wrap;
}

.uke{
	width: 22vw;
	text-align: center;
}

.ukeDataContainer{
	display: flex;
	position: absolute;
    width: 100%;
    height: auto;
}

.ukeData{
	text-align: right;
	font-family: 'Nehama', serif;
	font-size: 16px;
	margin: auto;
	transform: translateX(-7vw);
	z-index: 1;
}

.ukeData ul li ul li{
	position: relative;
	left: 30px;
	width: 120px;
}

/*--------------------------------------------------------------------------------------*/

#baritone{
	position: relative;
}

#baritone h1{
	font-family: 'Drugulin CLM', serif;
	position: relative;
	top: 25px;
}

#baritoneImg{
	position: relative;
	margin-left: 30px;
	top: 20px;
	cursor: pointer;
}

#baritoneDataContainer{
    top: 95px;
}


#baritoneTest{
	display: inline-block;
}

.baritoneHover{
	opacity: 0.7;
}

/*--------------------------------------*/

#tenor{
	position: relative;
}

#tenor h1{
	font-family: 'Drugulin CLM', serif;
	position: relative;
	top: 62px;
}

#tenorImg{
	position: relative;
	top: 55px;
	cursor: pointer;
}

#tenorDataContainer{
    top: 130px;
}

.tenorHover{
	opacity: 0.7;
}

/*--------------------------------------*/

#concert{
	position: relative;
}

#concert h1{
	font-family: 'Drugulin CLM', serif;
	position: relative;
	top: 85px;
}

#concertImg{
	position: relative;
	top: 84px;
	cursor: pointer;
}

#concertDataContainer{
    top: 152px;
}

.concertHover{
	opacity: 0.7;
}

/*--------------------------------------*/

#soprano{
	position: relative;
}

#soprano h1{
	font-family: 'Drugulin CLM', serif;
	position: relative;
	top: 128px;
}

#sopranoImg{
	position: relative;
	top: 126px;
	cursor: pointer;
}

#sopranoDataContainer{
    top: 200px;
}

.sopranoHover{
	opacity: 0.7;
}


/*--------------------------------------------------------------------------------------*/


@media screen and (max-width: 1080px){
	#ukeContainer{
		height: 125vh;
	}
	.uke{
		width: 50%;
	}
}

@media screen and (max-width: 570px){
	#ukeContainer{
		height: 240vh;
	}
	.uke{
		width: 100%;
	}
	.ukeData{
		transform: translateX(-10vw);
	}

	#baritone, #tenor, #concert, #soprano{
		height: 100px;
	}
}

@media screen and (max-width: 420px){
	.ukeData{
		transform: translateX(-13vw);
	}
}
