@font-face {
	font-family: Nehama;
	src: url("../../assets/fonts/nehama/Nehama.ttf")
}

.chordFinder{
	font-family: 'Nehama', serif;
	/* height: 100vh; */
    position: relative;
}

.chooseChord{
	
	background-color: rgb(148,84,46);
	color: white;
	padding-top: 10px;
	padding-right: 50px;
	padding-bottom: 10px;
	text-align: right;
	
}

.chordIndex{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 50px;
}



.chordIndex form{
	display: inline-block;
}


.chordIndex label {
	font-size: 30px;
	vertical-align: middle;
}

.chordIndex select{
	margin-right: 10px;
}

#chordSelect1{
	margin-top: 5px;
	height: 30px;
	width: 80px;
}

#chordSelect1 option{
	font-family: initial;
}

#chordSelect2{
	height: 30px;
	width: 80px;
}

#chordSelect2 option{
	font-family: initial;
	
}

#Major{
	display: none;
}

#Minor{
	display: none;
}

#Seven{
	display: none;
}

#m7{
	display: none;
}

#maj7{
	display: none;
}

#position{
	margin-top: 5px;
	height: 30px;
	font-size: 20px;
	font-family: default;
}



#chordContainer{
	display: flex;
	height: 50vw;
}

#chordType {
	background-image: url("../../assets/img/UkuleleNeck.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	height: 33.4%;
    width: 95%;
	margin: auto;
	position: relative;
}

#playBtn{
    height: 30px;
    width: 60px;
    border-radius: 12px;
    border: 1px solid black;
    background-color: #449d44;
    color: white;
    font-size: 20px;
    outline: none;
}

.greenDot{
	position: absolute;
	height: 15.8%;
	width: 2.8%;
}

#greenDot1, #greenDot2, #greenDot3, #greenDot4{
	display: none;
	left: 0;
}


.chordView{
	margin-top: 50px;
}



.bottomLine {
	background-color: rgb(148,84,46);
	height: 90px;
	width: 100%;
	position: absolute;
	bottom: 0;
}


@media screen and (min-width: 1300px){
	#chordContainer{
		height: 633px;
	}
	#chordType{
		width: 1183px;
	}
	.chordIndex {
		justify-content: center;
	}
	.chordIndex form{
		margin: 0 50px;
	}
}


@media screen and (max-width: 960px){
	.chordFinder{
		height: 80vh;
	}
}

@media screen and (max-width: 768px){
	.chordIndex {
		flex-direction: column;
		align-items: flex-start;
		margin-right: 10vw;
	}
}


@media screen and (max-width: 480px){
	.chordIndex label{
		font-size: 7vw;
	}
}
