<div class="linksContainer">
    <div *ngFor="let link of links; index as i">
        <div class="linkContainer">
            <div class="about">
                <p dir="rtl">
                    <span [innerHTML]="link.about"></span>
                </p>
                <button class="btn"><a href="{{link.link}}" target="_blank"><strong>לאתר</strong></a></button>
            </div>

            <div class="linkImg">
                <h1>{{link.title}}</h1>
                <a href="{{link.link}}" target="_blank"><img src="{{link.image}}" alt="img 1"></a>
            </div>
        </div>

        <hr *ngIf="i != (links.length-1)">

    </div>
</div>