@font-face {
    font-family: Nehama;
    src: url("../../assets/fonts/nehama/Nehama.ttf")
}

/*----------------------------------------------------*/

.linksContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 40px 0;
}

.linkContainer{
    display: flex;
    width: 60%;
    margin: auto;
}

.about p{
    padding-top: 80px;
    padding-right: 80px;
    text-align: justify;
}


button a{
    color: white;
    text-decoration: none;
}

.linkImg{
    text-align: center;
}

.linkImg h1{
    font-family: "Arial Black", Gadget, sans-serif;
}

.linkImg img{
    border: 1px solid black;
    border-radius: 5px;
    width: 250px;
    height: 150px;
}

.btn{
    height: 50px;
    width: 70px;
    font-size: 20px;
    background-color: #94542e;
    /* font-family: 'Nehama', serif; */
}

@media screen and (max-width: 1300px){
    .linkContainer{
        width: 70%;
    }
}

@media screen and (max-width: 1000px){
    .linkContainer{
        width: 90%;
    }
}

@media screen and (max-width: 700px){
    .linkContainer{
        flex-direction: column-reverse;
        width: 70%;
    }

    .about{
        display: flex;
        flex-direction: column;
    }

    .about p{
        padding: 4vw 0;
        padding-right: initial;
        font-size: 4vw;
    }

    .btn{
        width: 50%;
        margin: auto;
        font-size: 4vw;
    }

    .linkImg h1{
        font-size: 10vw;
    }

    .linkImg img{
        width: 100%;
        height: initial;
    }

    .btn{
        border-radius: 25px;
    }
}

@media screen and (max-width: 430px){
    .btn{
        font-size: 6vw;
    }
}