<div id="BG" dir="rtl" *ngFor="let ukulele of ukuleles; index as i">

    <div class="ukeTypeContainer">
        <h1 class="text-center ukeHeader"><strong>{{ukulele.header}}</strong></h1>

        <br>

        <div class="ukeData">

            <div class="ukeImgContainer">
                <img class="ukeImg" src="{{ukulele.ukeImg}}" alt="Banjolele img">
            </div>

            <div class="dataWithBtns">
                <div class="about" *ngIf="about[i]">
                    <p>
                        <strong>
                            <span [innerHTML]="ukulele.aboutText"></span>
                        </strong>
                    </p>
                </div>


                <div dir="ltr" *ngIf="carousel[i]">
                    <div ng2-carouselamos class="slides-wrapper" id="carousel" [items]="ukulele.items" [width]="800"
                        [$prev]="prev" [$next]="next" [$item]="item">
                    </div>


                    <ng-template #prev>
                        <img src="../../assets/img/gallery/prev.png" id="left" alt="no img">
                    </ng-template>

                    <ng-template #next>
                        <img src="../../assets/img/gallery/next.png" id="right" alt="no img">
                    </ng-template>


                    <ng-template #item let-item let-i="index">
                        <div class="items">
                            <img src="{{ item.name }}">
                        </div>
                    </ng-template>
                </div>


                <div *ngIf="vid[i]">
                    <div class="vids">
                        <div *ngFor="let vids of ukulele.vids">
                            <iframe [src]="vids | safe" frameborder="0" allow="autoplay; encrypted-media"
                                allowfullscreen></iframe>
                        </div>
                    </div>
                </div>


                <div class="UkeBtns">
                    <button class="btn btn-warning" (click)="showAbout(i)">על הכלי</button>
                    <button class="btn btn-primary" (click)="showCarousel(i)">תמונות</button>
                    <button class="btn btn-success" id="vidBtn{{i+1}}" (click)="showVid(i)">סרטונים</button>
                </div>

            </div>

        </div>

    </div>

    <div class="divider1" *ngIf="i%2 == 0 && i != (ukuleles.length-1)"></div>

    <div class="divider2" *ngIf="i%2 == 0 && i != (ukuleles.length-1)"></div>

    <div class="divider3" *ngIf="i%2 != 0 && i != (ukuleles.length-1)"></div>

    <div class="divider4" *ngIf="i%2 != 0 && i != (ukuleles.length-1)"></div>

</div>