@import url(https://fonts.googleapis.com/css?family=Amatic+SC);

#BG{
    background-color: #e6e6e6;
    display: flex;
    flex-direction: column;
}

.ukeTypeContainer{
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
    width: 80%;
    max-width: 1500px;
}

.ukeHeader{
    font-family: 'Amatic SC', cursive;
    position: relative;
    color: white;
    top: 20px;
    font-size: 50px;
    text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
}

.ukeData{
    display: flex;
    align-items: flex-start;
}

.about{
    height: 220px;
    padding-top: 20px;
    padding-left: 40px;
    text-align: justify;
    line-height: 2;
}

.UkeBtns{
    margin-top: 50px;
}

.ukeImg{
    width: 220px;
    height: 200px;
    margin: 10px 50px;
    border: 1px solid black;
    border-radius: 50%;
}




.vids{
    display: flex;
    justify-content: space-between;
    width: 55vw;
}

iframe{
    width: 25vw;
    height: 215px;
}


button{
    margin-left: 5px;
    margin-bottom: 20px;
}

button:focus, button:link{
    outline: 0;
}


/*ng carousel*/

#carousel{
    width: 50vw !important;
}

#left{
    position: relative;
    right: 20px;
}
#right{
    position: relative;
    left: 20px;
}
.items img{
    width: 220px;
    height: 220px;
    padding: 10px 10px;
}



.divider1{
    border-bottom: #00264d solid 2px;
    margin-left: 20px;
}

.divider2{
    border-bottom: #00264d solid 2px;
    margin-top: 10px;
    margin-left: 100px;
}

.divider3{
    border-bottom: #00264d solid 2px;
    margin-right: 20px;
}

.divider4{
    border-bottom: #00264d solid 2px;
    margin-top: 10px;
    margin-right: 100px;
}



@media only screen and (max-width: 1250px) {
    .ukeTypeContainer{
        width: 100%;
    }
}

@media only screen and (max-width: 1005px) {
    .dataWithBtns{
        display: flex;
        flex-direction: row-reverse;
        height: 320px;
    }

    .ukeImg{
        margin: 10px 15px;
    }

    button{
        width: 5em;
    }

    .about{
        padding: 0 3vw;
    }

    #carousel, .vids{
        width: 65vw !important;
    }

    .vids{
        justify-content: space-evenly;
    }
}

@media only screen and (max-width: 985px) {

    .ukeImgContainer{
        display: none;
    }

    .dataWithBtns{
        flex-direction: column;
        justify-content: flex-end;
    }

    .UkeBtns{
        margin-top: 1vw;
        text-align: center;
    }

    button{
        margin: 2vw 1vw;
    }

    #carousel, .vids, .about{
        width: 98vw !important;
    }

    iframe{
        width: 40vw;
    }
}


@media only screen and (max-width: 700px) {

    .ukeHeader{
        font-size: 10vw;
    }

    .dataWithBtns{
        height: 115vw;
        width: 100%;
        justify-content: space-between;
    }

    .about{
        height: 100vw;
        font-size: 3.3vw;
        padding: 0 7vw;
    }

    #carousel{
        width: 93vw !important;
        margin-top: 20vw; 
    }

    .items img{
        width: 50vw;
        height: 50vw;
    }

    .vids{
        flex-direction: column;
        width: 100% !important;
    }

    iframe{
        width: 90vw;
        height: 43vw;
        display: block;
        margin: 2vw auto;
    }

}