

/*----------------------------------------------------*/

/*Cuatro*/

/* #cuatroH{
    font-family: 'Amatic SC', cursive;
    position: relative;
    color: white;
    top: 20px;
    font-size: 50px;
    text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
}

#cuatro{
    position: relative;
    right: 34px;
    top: 28px;
    width: 65%;
}

#whiteCircle1{
    position: relative;
    top: 10px;
    width: 220px;
    height: 200px;
    margin-right: 20px;
    background-color: white;
    border: 1px solid black;
}

#mainImg1{
    width: 25%;
}


#cuatroImg{
    height: 170px;
    width: 170px;
}

#about1{
    padding-top: 35px;
    padding-left: 40px;
    text-align: justify;
    line-height: 2;
}

#pics1{
    padding-left: 40px;
}

#pics1 img{
    height: 215px;
    width: 215px;
}


#vid1{
    padding-left: 40px;
}

#buttons1{
    margin-bottom: 20px;
}

#details1{
    height: 245px;
} */

/*-----------------------------------------------------------------*/

/*Cavaquinho*/

/* #cavaH{
    font-family: 'Amatic SC', cursive;
    position: relative;
    color: white;
    top: 20px;
    font-size: 50px;
    text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
}

#cava{
    position: relative;
    right: 23px;
    top: 46px;
    width: 78%;
}

#whiteCircle2{
    position: relative;
    top: 10px;
    width: 220px;
    height: 200px;
    margin-right: 20px;
    background-color: white;
    border: 1px solid black;
}

#mainImg2{
    width: 25%;
}

#cavaImg{
    height: 170px;
    width: 170px;
}

#about2{
    padding-top: 45px;
    padding-left: 40px;
    text-align: justify;
    line-height: 2;
}

#pics2{
    padding-left: 40px;
}

#pics2 img{
    height: 215px;
    width: 215px;
}


#vid2{
    padding-left: 40px;
}

#buttons2{
    margin-bottom: 20px;
}

#details2{
    height: 245px;
} */

/*-----------------------------------------------------------------*/

/*Rajao*/


/* #charangoH{
    font-family: 'Amatic SC', cursive;
    position: relative;
    color: white;
    top: 20px;
    font-size: 50px;
    text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
}

#charango{
    position: relative;
    right: 15px;
    top: 12px;
    width: 85%;
}

#whiteCircle3{
    position: relative;
    top: 10px;
    width: 220px;
    height: 200px;
    margin-right: 20px;
    background-color: white;
    border: 1px solid black;
}

#mainImg3{
    width: 25%;
}


#charangoImg{
    height: 170px;
    width: 170px;
}

#about3{
    padding-top: 40px;
    padding-left: 40px;
    text-align: justify;
    line-height: 2;
}

#pics3{
    padding-left: 40px;
}

#pics3 img{
    height: 215px;
    width: 215px;
}


#vid3{
    padding-left: 40px;
}

#buttons3{
    margin-bottom: 20px;
}

#details3{
    height: 245px;
} */

/*-----------------------------------------------------------------*/

/*Timple*/

/* #timpleH{
    font-family: 'Amatic SC', cursive;
    position: relative;
    color: white;
    top: 20px;
    font-size: 50px;
    text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
}

#timple{
    position: relative;
    right: 10px;
    top: 10px;
    width: 85%;
}

#whiteCircle4{
    position: relative;
    top: 10px;
    width: 220px;
    height: 200px;
    margin-right: 20px;
    background-color: white;
    border: 1px solid black;
}

#mainImg4{
    width: 25%;
}


#timpleImg{
    height: 170px;
    width: 170px;
}

#about4{
    padding-top: 60px;
    padding-left: 40px;
    text-align: justify;
    line-height: 2;
}

#pics4{
    padding-left: 40px;
}

#pics4 img{
    height: 215px;
    width: 215px;
}


#vid4{
    padding-left: 40px;
}

#buttons4{
    margin-bottom: 20px;
}

#details4{
    height: 245px;
} */






/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/



@import url(https://fonts.googleapis.com/css?family=Amatic+SC);

#BG{
    background-color: #e6e6e6;
    display: flex;
    flex-direction: column;
}

.ukeTypeContainer{
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
    width: 80%;
    max-width: 1500px;
}

.ukeHeader{
    font-family: 'Amatic SC', cursive;
    position: relative;
    color: white;
    top: 20px;
    font-size: 50px;
    text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
}

.ukeData{
    display: flex;
    align-items: flex-start;
}

.about{
    height: 220px;
    padding-top: 20px;
    padding-left: 40px;
    text-align: justify;
    line-height: 2;
}

.UkeBtns{
    margin-top: 50px;
}

.ukeImg{
    width: 220px;
    height: 200px;
    margin: 10px 50px;
    border: 1px solid black;
    border-radius: 50%;
}




.vids{
    display: flex;
    justify-content: space-between;
    width: 55vw;
}

iframe{
    width: 25vw;
    height: 215px;
}


button{
    margin-left: 5px;
    margin-bottom: 20px;
}

button:focus, button:link{
    outline: 0;
}



.itemscontainer{
    display: flex;
    /* width: 50vw !important; */
}

.items img{
    width: 220px;
    height: 220px;
    padding: 10px 0 10px 10px;
}



.divider1{
    border-bottom: #761c19 solid 2px;
    margin-left: 20px;
}

.divider2{
    border-bottom: #761c19 solid 2px;
    margin-top: 10px;
    margin-left: 100px;
}

.divider3{
    border-bottom: #761c19 solid 2px;
    margin-right: 20px;
}

.divider4{
    border-bottom: #761c19 solid 2px;
    margin-top: 10px;
    margin-right: 100px;
}



@media only screen and (max-width: 1350px) {
    .ukeTypeContainer{
        width: 100%;
    }

    .itemscontainer{
        height: 220px;
    }

    .items img{
        width: 15vw;
        height: 15vw;
    }
    
}

@media only screen and (max-width: 1005px) {
    .dataWithBtns{
        display: flex;
        flex-direction: row-reverse;
        height: 320px;
    }

    .ukeImg{
        margin: 10px 15px;
    }

    button{
        width: 5em;
    }

    .about{
        padding: 0 3vw;
    }

    .itemscontainer, .vids{
        width: 65vw !important;
    }

    .itemscontainer{
        height: 20vw !important;
        align-items: flex-end;
    }

    

    .vids{
        justify-content: space-evenly;
    }
}

@media only screen and (max-width: 985px) {

    .ukeImgContainer{
        display: none;
    }

    .dataWithBtns{
        flex-direction: column;
        justify-content: flex-end;
    }

    .UkeBtns{
        margin-top: 1vw;
        text-align: center;
    }

    button{
        margin: 2vw 1vw;
    }

    .itemscontainer, .vids, .about{
        width: 98vw !important;
    }

    .itemscontainer{
        height: 220px !important;
        justify-content: center;
        align-items: center;
    }

    .items img{
        width: 20vw;
        height: 20vw;
    }

    iframe{
        width: 40vw;
    }
}


@media only screen and (max-width: 700px) {

    .ukeHeader{
        font-size: 10vw;
    }

    .dataWithBtns{
        height: 115vw;
        width: 100%;
        justify-content: space-between;
    }

    .about{
        height: 100vw;
        font-size: 3.3vw;
        padding: 0 7vw;
    }

    .itemscontainer{
        width: 93vw !important;
        /* height: 60vw !important; */
        /* flex-direction: column; */
        flex-wrap: wrap;
        margin-top: 5vw; 
    }

    .items img{
        width: 40vw;
        height: 40vw;
    }

    
    .vids{
        flex-direction: column;
        width: 100% !important;
    }

    iframe{
        width: 90vw;
        height: 43vw;
        display: block;
        margin: 2vw auto;
    }

}