<div id="BG" dir="rtl" *ngFor="let ukulele of ukuleles; index as i">

    <div class="ukeTypeContainer">

        <h1 class="text-center ukeHeader"><strong>{{ukulele.header}}</strong></h1>

        <br>

        <div class="ukeData">

            <div class="ukeImgContainer">
                <img class="ukeImg" src="{{ukulele.ukeImg}}" alt="img">
            </div>

            <div class="dataWithBtns">

                <div class="about" *ngIf="about[i]">
                    <p>
                        <strong>

                            <span [innerHTML]="ukulele.aboutText"></span>
                        </strong>
                    </p>
                </div>


                <div dir="ltr" *ngIf="pics[i]">
                    <div class="itemscontainer">
                        <div class="items" *ngFor="let picSet of ukulele.picsSet; index as j">
                            <img src="{{picSet}}" alt="no image {{j+1}}">
                        </div>
                    </div>
                </div>


                <div *ngIf="vid[i]">
                    <div class="vids">
                        <div *ngFor="let vids of ukulele.vids">
                            <iframe [src]="vids | safe" frameborder="0" allow="autoplay; encrypted-media"
                                allowfullscreen></iframe>
                        </div>
                    </div>
                </div>


                <div class="UkeBtns">
                    <button class="btn btn-warning" (click)="showAbout(i)">על הכלי</button>
                    <button class="btn btn-primary" (click)="showPics(i)">תמונות</button>
                    <button class="btn btn-success" id="vidBtn{{i+1}}" (click)="showVid(i)">סרטונים</button>
                </div>

            </div>
        </div>

    </div>


    <div class="divider1" *ngIf="i%2 == 0 && i != (ukuleles.length-1)"></div>

    <div class="divider2" *ngIf="i%2 == 0 && i != (ukuleles.length-1)"></div>

    <div class="divider3" *ngIf="i%2 != 0 && i != (ukuleles.length-1)"></div>

    <div class="divider4" *ngIf="i%2 != 0 && i != (ukuleles.length-1)"></div>

</div>