/*Headline*/

@font-face {
  font-family: Nehama;
  src: url("../assets/fonts/nehama/Nehama.ttf");
}

.Jumbatron {
  padding: 20px;
  position: relative;
  background-image: url("../assets/img/ukeBG.jpg");
  background-size: cover;
  background-position: 0 0;
  background-repeat: repeat-y;
  animation: animate 40s linear infinite;
}

.headline {
  text-decoration: none;
  color: inherit;
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 0 100%;
  }
  100% {
    background-position: 0 0;
  }
}

.Jumbatron h1 {
  font-size: 47px;
  color: white;
  /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
  text-shadow: 3px 1px black;
}

.Jumbatron p {
  font-weight: bold;
  color: black;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

/*navbar*/

.navbar.navbar-inverse {
  margin-bottom: 0;
  padding-bottom: 0;
}

.navbar-collapse.collapse {
  display: block !important;
}

.container {
  width: 1170px !important;
}

@media screen and (min-width: 1500px){
  .container {
    width: 1500px !important;
  }
}
