<div class="Jumbatron text-center">
	<div id="circle1">
		<a routerLink="/mainpage" class="headline">
			<div id="circle2">
				<h1>Jewkulele</h1>
				<p>The Hebrew Ukulele Site</p>
			</div>
		</a>
	</div>
</div>

<div id="navContainer">
	<nav id="navbar">
		<div class="navItem" routerLinkActive="active"><a routerLink="/about" routerLinkActive="active">אודות<span
					routerLinkActive="active"></span></a></div>
		<div class="navItem" routerLinkActive="active"><a routerLink="/links" routerLinkActive="active">קישורים<span
					routerLinkActive="active"></span></a></div>
		<div class="navItem" routerLinkActive="active"><a routerLink="/gallery" routerLinkActive="active">גלריה<span
					routerLinkActive="active"></span></a></div>
		<div class="navItem" routerLinkActive="active"><a routerLink="/tuner" routerLinkActive="active">טיונר<span
					routerLinkActive="active"></span></a></div>
		<div class="navItem" routerLinkActive="active"><a routerLink="/chordfinder" routerLinkActive="active">מנוע חיפוש
				אקורדים<span routerLinkActive="active"></span></a></div>
		<div class="navItem" routerLinkActive="active"><a routerLink="/musicians" routerLinkActive="active">נגנים
				מפורסמים<span routerLinkActive="active"></span></a></div>
		<div class="navItem" routerLinkActive="active"><a routerLink="/ukerelatives" routerLinkActive="active">קרובי
				משפחה<span routerLinkActive="active"></span></a></div>
		<div class="navItem" routerLinkActive="active"><a routerLink="/uketypes" routerLinkActive="active">הכלאות<span
					routerLinkActive="active"></span></a></div>
		<div class="navItem" routerLinkActive="active"><a routerLink="/ukesizes" routerLinkActive="active">גדלי
				היוקוללה<span routerLinkActive="active"></span></a></div>
		<div class="navItem" routerLinkActive="active"><a routerLink="/mainpage" routerLinkActive="active">דף
				הבית</a>
		</div>
	</nav>
</div>

<div id="navContainerMob">
	<div id="hamburgerContainer">
		<div id="hamburger" (click)="toggleNav()">
			<div id="lines">
				<div class="line"></div>
				<div class="line"></div>
				<div class="line"></div>
			</div>
		</div>
	</div>

	<nav id="navbar" [@navbarTog]='state'>
		<div class="navItem" routerLinkActive="active"><a routerLink="/about" routerLinkActive="active"
				(click)="toggleNav()">אודות<span routerLinkActive="active"></span></a></div>
		<div class="navItem" routerLinkActive="active" (click)="toggleNav()"><a routerLink="/links"
				routerLinkActive="active">קישורים<span routerLinkActive="active"></span></a></div>
		<div class="navItem" routerLinkActive="active" (click)="toggleNav()"><a routerLink="/gallery"
				routerLinkActive="active">גלריה<span routerLinkActive="active"></span></a></div>
		<div class="navItem" routerLinkActive="active" (click)="toggleNav()"><a routerLink="/tuner"
				routerLinkActive="active">טיונר<span routerLinkActive="active"></span></a></div>
		<div class="navItem" routerLinkActive="active" (click)="toggleNav()"><a routerLink="/chordfinder"
				routerLinkActive="active">מנוע חיפוש
				אקורדים<span routerLinkActive="active"></span></a></div>
		<div class="navItem" routerLinkActive="active" (click)="toggleNav()"><a routerLink="/musicians"
				routerLinkActive="active">נגנים
				מפורסמים<span routerLinkActive="active"></span></a></div>
		<div class="navItem" routerLinkActive="active" (click)="toggleNav()"><a routerLink="/ukerelatives"
				routerLinkActive="active">קרובי
				משפחה<span routerLinkActive="active"></span></a></div>
		<div class="navItem" routerLinkActive="active" (click)="toggleNav()"><a routerLink="/uketypes"
				routerLinkActive="active">הכלאות<span routerLinkActive="active"></span></a></div>
		<div class="navItem" routerLinkActive="active" (click)="toggleNav()"><a routerLink="/ukesizes"
				routerLinkActive="active">גדלי
				היוקוללה<span routerLinkActive="active"></span></a></div>
		<div class="navItem" routerLinkActive="active" (click)="toggleNav()"><a routerLink="/mainpage"
				routerLinkActive="active">דף הבית</a>
		</div>
	</nav>
</div>



<router-outlet></router-outlet>

<footer>
	<div id="footerNav">
		<a class="footerItem" routerLink="/mainpage" routerLinkActive="active">דף הבית</a>
		<span class="footerItem"></span>
		<a class="footerItem" routerLink="/gallery" routerLinkActive="active">גלריה<span
				routerLinkActive="active"></span></a>
		<span class="footerItem"></span>
		<a class="footerItem" routerLink="/about" routerLinkActive="active">אודות<span
				routerLinkActive="active"></span></a>
	</div>
	<p></p>
</footer>