<div class="BG bg-warning" dir="rtl">

  <img class="arrow" id="arrowR" src="assets/img/arrowR.png" (click)="moveRight()" alt="Arrow Right">

  <div class="artContainer">

    <div class="artist" [@scrollImg]='position' *ngFor="let musician of musicians; index as i">

      <img (click)="openArtistData(i)" class="artImg" src="{{musician.img}}">

      <h1 class="name">{{musician.name}}</h1>

    </div>

  </div>

  <img class="arrow" id="arrowL" src="assets/img/arrowL.png" (click)="moveLeft()" alt="Arrow left">

  <div id="aboutContainer" *ngIf="musician.visibility">

    <div id="about" [@artistData]='artData'>

      <div id="xBtn" (click)="closeArtistData()">
        <div class="line" id="line1"></div>
        <div class="line" id="line2"></div>
      </div>

      <img class="aboutImg" src="{{musician.img}}">

      <h1 class="aboutName">{{musician.name}}</h1>

      <p class="abstract">
        <span [innerHTML]="musician.abstract"></span>
        <br>
        <a class="toggleText" (click)="showText()" *ngIf="showTextLink">
          קרא עוד >></a> </p>
      <br>
      <p class="fullText" [@artistAbout]='showAboutText' *ngIf="fullText">
        <span [innerHTML]="musician.about.text"></span>
        <br>
        <a class="toggleText" (click)="hideText()">
          << צמצם</a> </p> <br>
    </div>
  </div>
</div>