<div class="container-fluid">
  <div class="row" id="quotes">

    <div class="col-xs-4">
      <blockquote class="blockquote-reverse">
        <p align="right">"יוקוללה אינו משחק בקוביות"
        </p>
        <footer><cite title="Loremberg">אלברט אינשטיין</cite><br>מתוך נאום הפתיחה של קונגרס היוקוללה הראשון </footer>
      </blockquote>
    </div>
    <div class="col-xs-4">
      <blockquote class="blockquote-reverse">
        <p align="right">"מה שלא הורג - יוקוללה"
        </p>
        <footer><cite title="Loremberg">פרידריך ניטשה</cite><br>חשמלי, חשמלי מדי</footer>
      </blockquote>
    </div>
    <div class="col-xs-4">
      <blockquote class="blockquote-reverse">
        <p align="right">"שעה, שעה שאני מחפש יוקוללה"</p>
        <footer><cite title="Loremberg">ויקטור חסון</cite><br>גבעת חלפון אינה עונה</footer>
      </blockquote>
    </div>
  </div>

</div>



<div Class="container-fluid bg-warning">
  <div class="row" id="row2">


    <div class="col-xs-5" id="welcome" dir="rtl">
      <h1>ברוכים הבאים!</h1>
      <p>היוקוללה הוא כלי מיתר קטן, דמוי גיטרה, לרוב בעל 4 מיתרים, שמוצאו מהוואי. הכלי הופיע לראשונה בסוף המאה ה-19 וזכה
        לפופולאריות רבה בשנות ה-20 וה-30 של המאה ה-20. מאז ועד היום זוכה היוקוללה לתקופות של עדנה מחודשת (לצד תקופות של שכחה
        מוחלטת). נראה שבעשור האחרון הוא נמצא שוב בעלייה.</p>
      <br>
      <p>אתר זה נועד לספק מידע על היוקוללה עבור נגנים או סתם אנשים תמהונים שאוהבים להתבונן בתמונות של הכלי הקטן ולקרוא עליו.
        תהנו!
      </p>
    </div>

    <div class="col-xs-4" id="welcomeImg">
      <img src="../../assets/img/ukePlayer1.png" alt="no image">

    </div>


    <ul class="col-xs-3" id="updates">
      <h2 dir="rtl">עדכונים:</h2>
      <li>
        <p class="date"> - 28.5.2018</p>
        <ul align="right" class="event">
          <li><a routerLink="/ukerelatives">סבא קוואטרו ודוד צ'רנגו</a></li>
          <li><a routerLink="/tuner">טיונר חדש לכיוון סטנדרטי</a></li>
        </ul>
      </li>
      <li>
        <p class="date"> - 2.6.2018</p>
        <ul align="right" class="event">
          <li><a routerLink="/chordfinder" dir="rtl">כעת אפשר גם לשמוע את האקורדים במנוע חיפוש אקורדים!</a></li>
        </ul>
      </li>
      <li>
        <p class="date"> - 5.6.2018</p>
        <ul align="right" class="event">
          <li><a routerLink="/ukesizes">גדלי יוקוללה - יתרונות וחסרונות</a></li>
        </ul>
      </li>
      <li>
        <p class="date"> - 12.6.2018</p>
        <ul align="right" class="event">
          <li><a (click)="JHLink('/musicians')" dir="rtl">מי אתה ג'יימס היל? (ספוילר: נגן יוקוללה)</a></li>
          <li><a (click)="ukeHarpLink('/uketypes')" dir="rtl">מה קורה כשיוקוללה ונבל עושים ילד?</a></li>
        </ul>
      </li>

    </ul>

  </div>

  <div class="row" id="row3">


    <div class="col-xs-7">

      <div id="gallery">
        <img src="../../assets/img/gallery/uke5.jpg" alt="no image 1" id="img1">
        <img src="../../assets/img/gallery/uke7.jpg" alt="no image 2" id="img2">
        <img src="../../assets/img/gallery/uke8.jpg" alt="no image 3" id="img3">
        <img src="../../assets/img/gallery/uke2.jpg" alt="no image 4" id="img4">
        <img src="../../assets/img/gallery/uke23.jpg" alt="no image 5" id="img5">
        <img src="../../assets/img/gallery/uke35.jpg" alt="no image 6" id="img6">
        <img src="../../assets/img/gallery/uke12.jpg" alt="no image 7" id="img7">
      </div>

      <div id="galleryLink" dir="rtl">
        <h4>אוהבים לבהות ביוקולליים? איזה מוזרים אתם! מוזמנים להיכנס <a routerLink="/gallery"><u>לגלריה</u>.</a></h4>
      </div>

    </div>

    <div class="col-xs-5" id="weeklyVid" dir="rtl">
      <h1 class="text-warning"><u>פינת היוטיוב השבועי</u>:</h1>
      <p>אחד מנגני היוקוללה המחוספסים ביותר שהיו אי פעם (והתחרות לא קשה בכלל!) בביצוע מחוספס וצורם כהלכה לנירוונה.</p>
      <p>מומלץ לבדוק את <a href="https://www.youtube.com/channel/UC6LSlJIgbSf2HCpuO1idGpg" target="_block">ערוץ היוטיוב שלו</a>
        המוקדש כולו לביצועים נוספים מאותו הסגנון.</p>
      <div id="vid">
        <iframe width="448" height="252" src="https://www.youtube.com/embed/UnEvapXfwBk" frameborder="0" allow="autoplay; encrypted-media"
          allowfullscreen></iframe>
      </div>
    </div>
  </div>

</div>