@font-face {
  font-family: Nehama;
  src: url("../../assets/fonts/nehama/Nehama.ttf");
}



#quotes {
  background-color: rgb(148, 84, 46);
  height: 150px;
  border-bottom: 2px solid #761c19;
  padding: 25px 0;
  display: flex;
  justify-content: space-evenly;
}

.quote{
  color: white;
  background-color: #ff9900;
  border-right: 3px solid black;
  text-align: right;
  width: 30%;
  padding: 15px;
}

.quote p{
  padding: 0;
  margin: 0;
}

.quote p:nth-child(1){
  font-size: 17.5px;
}

.quote p:nth-child(2){
  color: black;
  padding-top: 10px;
  font-style: italic;
}

.quote p:nth-child(3){
  color: black;
}

.quote p:nth-child(3)::before{
  content: "— "
}




/*----------------------------------------------------*/

#about1Container{
  background-color: #FEF7E4;
  height: 336px;
}

#about1{ 
  padding: 0 30px;
  display: flex;
}

.about1{
  flex: 0 0 30%;
  height: 336px;
}

#updates {
  width: 100%;
  font-family: "Nehama", serif;
  list-style: none;
  color: black;
  font-size: 16px;
  border-left: 3px solid #761c19;
  margin-top: 15px;
}

.date {
  list-style: none;
  float: right;
  padding-top: 10px;
}

.event {
  margin-right: 20px;
  list-style: none;
  padding-top: 10px;
  width: 103%;
  position: relative;
  right: 28px;
}

.event li {
  padding-bottom: 10px;
  padding-right: 60px;
}

.event li a {
  cursor: pointer;
}

/*----------------------------------------------------*/

/*Welcome*/

#welcomeImg {
  height: 371px;
  background-image: url('../../assets/img/ukePlayer1.png');
  background-size: cover;
  background-position-x: -50px;
  position: relative;
  bottom: 35px;
}

#welcome{
  flex-basis: 40%;
}

#welcome h1 {
  font-family: "Nehama", serif;
  font-size: 60px;
  color: #761c19;
}

#welcome p {
  font-family: "Nehama", serif;
  font-size: 20px;
  line-height: 1.6;
}

#row2 {
  height: 360px;
  border-bottom: 1px solid #761c19;
}




/*-----------------------------------------------------------------*/

#about2Container{
  background-color: #282828;
}

#about2{ 
  padding: 0 30px;
  display: flex;
  align-items: center;
}

/*-----------------------------------------------------------------*/

#galleryContainer{
  width: 60%;
}

#galleryLink {
  font-family: "Nehama", serif;
  color: white;
  position: relative;
  bottom: 30px;
  right: 30px;
}

#gallery {
  height: 400px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 10px;
  padding: 30px 30px;
}

#gallery img {
  filter: grayscale(30%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

#gallery img:hover {
  filter: grayscale(0);
  transform: scale(1.1);
}

#img1 {
  grid-column: 1;
  grid-row: 1/6;
  height: 250px;
  width: 100%;
}

#img2 {
  grid-column: 2;
  grid-row: 1/3;
  height: 100%;
  width: 100%;
}

#img3 {
  grid-column: 3;
  grid-row: 1/3;
  height: 100%;
  width: 100%;
}

#img4 {
  grid-column: 4;
  grid-row: 1/3;
  height: 100%;
}

#img5 {
  grid-column: 4;
  grid-row: 3/5;
  height: 100%;
  width: 100%;
}

#img6 {
  grid-column: 2/4;
  grid-row: 3/6;
  height: 100%;
  width: 100%;
}

#img7 {
  grid-column: 4;
  grid-row: 5;
  height: 100%;
}

/*-----------------------------------------------------------------*/

#weeklyVidContainer {
  padding: 20px;
}

#weeklyVid {
  border-left: 2px solid black;
  border-right: 2px solid black;
  background-color: rgb(148, 84, 46);
  /* position: relative;
  bottom: 15px;
  right: 10px; */
  height: 440px;
  padding: 20px;
}

#vid {
  text-align: center;
  margin-top: 28px;
}

@media screen and (min-width: 1500px){
  #vid {
    margin-top: 10px;
  }

  #vid iframe{
    height: 285px;
    width: 600px;
  }
}


#weeklyVid h1 {
  font-family: "Nehama", serif;
  font-size: 40px;
  margin: 0;
}

#weeklyVid p {
  font-family: "Nehama", serif;
  font-size: 16px;
  line-height: 1;
  width: 470px;
  color: white;
}

#weeklyVid a {
  color: #761c19;
}

#row3 {
  background-color: #282828;
}





@media screen and (max-width: 1440px){
  #welcome h1, #updates h2{
    margin: 0;
  }
}

@media screen and (max-width: 1340px){
  #about1Container{
    height: 402px;
    display: flex;
  }

  #about1{
    margin: auto;
  }

  #welcomeImg{
    height: 300px;
    bottom: initial;
    top: 69px;
  }
}

@media screen and (max-width: 1118px){
  #about1{
    margin: initial;
  }

  #welcomeImg{
    top: 102px;
  }
}

@media screen and (max-width: 1060px){
  #quotes {
    height: 170px;
  }

  #welcomeImg{
    display: none;
  }

  #about1{
    margin: auto;
  }

  .about1{
    flex: 0 0 38%;
  }

  #welcome{
    flex-basis: 62%;
    padding: 0 30px;
  }

  #updates{
    padding-left: 0;
  }

  #about2{
    flex-direction: column;
  }

  #galleryContainer {
    width: 100%;
  }

  #gallery{
    height: 47vw;
  }

  #weeklyVid{
    height: auto;
  }

  iframe{
    width: 83vw;
    height: 37vw;
  }

}


@media screen and (max-width: 907px){
  #about1Container{
    height: 444px;
  }

  .about1{
    height: 377px;
  }
}

@media screen and (max-width: 768px){
  #quotes {
    height: initial;
    flex-direction: column;
    text-align: center;
  }

  .quote{
    width: 60%;
    margin: auto;
    margin-bottom: 15px;
  }

  #about1Container{
    height: auto;
  }

  #about1{
    flex-direction: column;
    padding: 30px
  }

  #welcome{
    padding: 0 4vw;
  }

  #welcome h1{
    font-size: 12vw;
  }

  #welcome p{
    font-size: 4vw;
    line-height: 1.5;
  }

  #updates{
    border: initial;
    border-top: 0.3vw solid #761c19;
    padding: 3vw 4vw 0 4vw;
    font-size: 3.2vw;
  }

  #updates h2{
    font-size: 6vw;
  }
}

@media screen and (max-width: 600px){

  #weeklyVidContainer {
    padding: 0;
  }

}

@media screen and (max-width: 550px){
  .quote{
    width: 80%;
  }

  #gallery {
    height: 60vw;
    padding: 6vw 0px;
  }

  #galleryLink{
    right: 0;
  }

  #galleryLink h4 {
    font-size: 3.5vw;
  }

  #weeklyVid {
    /* width: 100vw; */
  }

  #weeklyVid h1 {
    font-size: 8vw;
    padding: 0 5vw;
  }

  #weeklyVid p {
    font-size: 3vw;
    padding: 0 5vw;
    width: initial;
  }
}

@media screen and (max-width: 480px){
  #welcome h1{
    font-size: 14vw;
  }

  #welcome p{
    font-size: 6vw;
  }

  #updates{
    font-size: 5vw;
    border-top: 0.5vw solid #761c19;
  }

  #updates h2{
    font-size: 10vw;
  }

  #galleryLink h4 {
    font-size: 5vw;
  }

  #weeklyVid h1 {
    font-size: 10vw;
  }

  #weeklyVid p {
    font-size: 5vw;
  }

  iframe{
    height: 58vw;
  }
}

@media screen and (max-width: 355px){
  #weeklyVid{
    padding: 5vw;
  }
}
