<div id="tuner">
    <div id="headline">
        <h1 dir="rtl">לחצ/י על הכפתור הירוק על מנת לשמוע את המיתר:</h1>
    </div>


    <div id="ukeNeckContainer">
        <div id="ukeNeck">
            <button class="btn-success" id="btnG" (click)="ClickG()">
                <p>G</p>
            </button>



            <button class="btn-success" id="btnC" (click)="ClickC()">
                <p>C</p>
            </button>



            <button class="btn-success" id="btnE" (click)="ClickE()">
                <p>E</p>
            </button>



            <button class="btn-success" id="btnA" (click)="ClickA()">
                <p>A</p>
            </button>
        </div>
    </div>

    <div id="bottomLine"></div>
</div>