
@font-face {
	font-family: Nehama;
	src: url("../../assets/fonts/nehama/Nehama.ttf")
}

.btn.btn-success{
	border-radius: 25px;
	height: 30px;
	width: 30px;
	border: 1px solid black;
	outline: none !important;
}

.btn.btn-success p{
	position: relative;
	bottom: 2px;
	right: 3px;
}





/*---------------------------------------*/

#tuner{
	height: 85vh;
	position: relative;
}

@media screen and (min-width: 1500px){
	#tuner{
		height: 82vh;
	}

	#ukeNeck{
		margin-top: 20vh;
	}
}

#headline{
	font-family: 'Nehama', serif;
	background-color: rgb(148,84,46);
	color: white;
	padding-top: 10px;
	padding-right: 50px;
	padding-bottom: 10px;
	text-align: right;
	
}

#ukeNeck{
	background-image: url("../../assets/img/UkuleleNeck.jpg");
	background-repeat: no-repeat;
	height: 182px;
	width: 886px;
	margin: auto;
	margin-top: 10vh;
	position: relative;
	/* border: 1px solid black; */
}

#btnG{
	position: absolute;
    left: 204px;
    top: 117px;
}


#btnC{
	position: absolute;
    left: 103px;
    top: 112px;
}

#btnE{
	position: absolute;
    left: 103px;
    top: 36px;
}

#btnA{
	position: absolute;
    left: 204px;
    top: 36px;
}

#bottomLine{
	margin-top: 50px;
	background-color: rgb(148,84,46);
	height: 90px;
	width: 100%;
	position: absolute;
	bottom: 0;
}






