@font-face {
	font-family: Nehama;
	src: url("../../assets/fonts/nehama/Nehama.ttf")
}

.chordFinder{
	font-family: 'Nehama', serif;

}

.chooseChord{
	
	background-color: rgb(148,84,46);
	color: white;
	padding-top: 10px;
	padding-right: 50px;
	padding-bottom: 10px;
	text-align: right;
	
}

.chordIndex{
	float: right;
	margin: 0px 30px;
}



.chordIndex form{
	float: right;
	margin-right: 12px;
}


.chordIndex label {
	float: right;
	margin-right: 10px;
	font-size: 30px;

}

.chordIndex select{
	margin-right: 10px;
}

#chordSelect1{
	margin-top: 5px;
	height: 30px;
	width: 80px;
}

#chordSelect1 option{
	font-family: initial;
}

#chordSelect2{
	height: 30px;
	width: 80px;
}

#chordSelect2 option{
	font-family: initial;
	
}

#Major{
	display: none;
}

#Minor{
	display: none;
}

#Seven{
	display: none;
}

#m7{
	display: none;
}

#maj7{
	display: none;
}

#position{
	margin-top: 5px;
	height: 30px;
	font-size: 20px;
	font-family: default;
}



#chordType {
	
	margin: 0px 30px;
}

#playBtn{
	float: left;
	margin-right: 30px;
    height: 30px;
    width: 60px;
    border-radius: 12px;
    border: 1px solid black;
    background-color: #449d44;
    color: white;
    font-size: 20px;
    outline: none;
}


#greenDot1{

	position: relative;
	height: 28px;
	width: 28px;
	display: none;

}

#greenDot2{
	
	position: relative;
	height: 28px;
	width: 28px;
	display: none;
}

#greenDot3{
	
	position: relative;
	height: 28px;
	width: 28px;
	display: none;
}

#greenDot4{
	
	position: relative;
	height: 28px;
	width: 28px;
	display: none;
}



.bottomLine {
	background-color: rgb(148,84,46);
	height: 90px;
}
