/* You can add global styles to this file, and also import other style files */
@import url("http://serve.fontsproject.com/css?family=Nehama:400");

body {
  /* min-width: 1250px;
  min-height: 100%; */
  height: 100%;
  width: 100%;
}
