@import url(https://fonts.googleapis.com/css?family=Amatic+SC);

#BG{
    background-color: #e6e6e6;
}

/*----------------------------------------------------*/

/*Banjolele*/


#banjoleleH{
    font-family: 'Amatic SC', cursive;
    position: relative;
    color: white;
    top: 20px;
    font-size: 50px;
    text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
}

#banjolele{
    position: relative;
    top: 10px;
    width: 220px;
    height: 200px;
    margin-right: 20px;
    border: 1px solid black;
}

#bjlImg{
    height: 170px;
    width: 170px;
}

#about1{
    padding-top: 20px;
    padding-left: 40px;
    text-align: justify;
    line-height: 2;
}

/*----------------------------------------------*/
/*testing ng carousel*/

#carousel1{
    padding-left: 40px;
}

.items img{
    width: 200px;
    height: 200px;
} 

/*---------------------------------------------*/

#vid1{
    padding-left: 40px;
}

#details1{
    height: 245px;
}

/*-----------------------------------------------------------------*/
/*Harp Ukulele*/


#harpUkeH{
    font-family: 'Amatic SC', cursive;
    position: relative;
    color: white;
    top: 20px;
    font-size: 50px;
    text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
}

#harpUkulele{
    width: 220px;
    height: 200px;
    margin-right: 20px;
    border: 1px solid black;
}


#uhrpImg{
    height: 170px;
    width: 170px;
}

#about2{
    padding-top: 20px;
    padding-left: 40px;
    text-align: justify;
    line-height: 2;
}

#carousel2{
    padding-left: 40px;

}

#vid2{
    padding-left: 40px;
}

#details2{
    height: 245px;
}

/*-----------------------------------------------------------------*/
/*Electric Ukulele*/

#eleUkeH{
    font-family: 'Amatic SC', cursive;
    position: relative;
    color: white;
    top: 20px;
    font-size: 50px;
    text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
}

#electricUkulele{
    width: 220px;
    height: 200px;
    margin-right: 20px;
    border: 1px solid black;
}

#eukeImg{
    height: 170px;
    width: 170px;
}

#about3{
    padding-top: 20px;
    padding-left: 40px;
    text-align: justify;
    line-height: 2;
}

#carousel3{
    padding-left: 40px;

}

#vid3{
    padding-left: 40px;
}

#details3{
    height: 245px;
}

/*-----------------------------------------------------------------*/
/*UBass*/

#uBassH{
    font-family: 'Amatic SC', cursive;
    position: relative;
    color: white;
    top: 20px;
    font-size: 50px;
    text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
}

#uBass{
    width: 220px;
    height: 200px;
    margin-right: 20px;
    border: 1px solid black;
}

#uBassImg{
    height: 170px;
    width: 170px;
}

#about4{
    padding-top: 20px;
    padding-left: 40px;
    text-align: justify;
    line-height: 2;
}

#carousel4{
    padding-left: 40px;

}

#vid4{
    padding-left: 40px;
}

#details4{
    height: 245px;
}

/*-----------------------------------------------------------------*/

button{
    margin-left: 5px;
    margin-bottom: 20px;
}

button:focus, button:link{
    outline: 0;
}

/*-----------------------------------------------------------------*/

/*ng carousel*/

#left{
    position: relative;
    right: 20px;
}
#right{
    position: relative;
    left: 20px;
}
.items img{
    padding: 10px 10px;
}


/*-----------------------------------------------------------------*/


.divider1{
    border-bottom: #00264d solid 2px;
    margin-left: 20px;
}

.divider2{
    border-bottom: #00264d solid 2px;
    margin-top: 10px;
    margin-left: 100px;
}

.divider3{
    border-bottom: #00264d solid 2px;
    margin-right: 20px;
}

.divider4{
    border-bottom: #00264d solid 2px;
    margin-top: 10px;
    margin-right: 100px;
}
